	/* ----------------------------------------------------GENERAL -----------------------------------------------------*/


	body {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		color: #787878;
		font-style: normal;
		font-stretch: normal;
		font-weight: 400;
		background-color: #ffffff;
		height: 2000px;
	}


	@font-face {									/* logo font */
		font-family: 'Besom'; 					
		src: url('../fonts/Besom.ttf');
	}

	a, a:visited, a:active, a:link {
		text-decoration: none;
		color: #787878;
	}

	h1 {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1.3em;
	}

	aside img {									/* add margin when images become larger */
		margin-bottom: 10px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding:0;

	}

	.valign-row-right {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		text-align: right;
	}

	.valign {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.valign-row-left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		text-align: left;
	}

	.valign-row-center {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		text-align: center;
	}


	section:not([id='nieuwsbrief']), footer {
		padding: 50px 0px;
	}

	.lnk-small {
		padding-top: 10px;
		font-weight: bold;
		color: #cc9132;
	}

	.lnk-small::after {
		padding-left:5px;
		content: "\f178";
		font-family: FontAwesome;
	}

	h1 {
		padding:0;
		margin: 0;
		font-size: 1.5em;
		color: #cc9132;
		padding-bottom: 20px;
	}

	.row {
		padding: 25px 0px;
	}

	.row > [class*='col-'] > [class*='col-']:first-child {
		padding-left: 0px;
	}

	/* ----------------------------------------------------HEADER -----------------------------------------------------*/

	.header {
		background-color: #ebe6dc;
		padding: 5px 0;
	}

	.header-tel, .header-mail {
		padding-right: 25px;
	}

	.header-taal {
		padding-left: 25px;
	}

	.header .fa-angle-down {
		color:#cc9131;
		padding-top: 5px;
		font-weight: bold;
	}

	.header img {
		padding-right:10px;
	}

	/* ----------------------------------------------------TOP NAVIGATION -----------------------------------------------------*/

	nav {
		padding: 15px 0px;
	}
	
	.logo-txt {
		padding-left:10px;
		padding-top: 5px;
		font-family: 'Besom', sans-serif;
		font-size: 2.7em;
		color:#cc9131;
		padding-top: 10px;
	}

	nav ul {
		text-align: right;
	}

	nav ul.nav-main {
		padding-right:25px;
	}

	nav ul li {
		display: inline-block;
	}

	nav ul.nav-main li a {
		color: #000;
		font-weight: bold;
		margin: 0px 0px 0px 20px;
		text-transform: uppercase;
	}

	nav ul.nav-main li a.active{
		border-bottom: 2px solid black;
	}

	nav ul.nav-main li a:hover {
		color: #787878;
	}

	nav ul.nav-sub li a {
		color: #787878;
		margin: 0px 0px 0px 10px;
	}

	nav ul.nav-sub li a:hover {
		color: #000;
		margin: 0px 0px 0px 10px;
	}

	
	/* ---------------------------------------------------SECTION - WIE ZIJN WE -----------------------------------------------------*/


	.wie-zijn-we {
		background-image: linear-gradient(rgba(200,120, 5, 0.7), rgba(200,120, 5, 0.7)), url('../img/bg-intro.png');
		background-size: cover;
		background-position: center;
		height: 476px;
		color: #ffffff;
		text-align: center;
		font-size: 1.2em;
	}

	.wie-zijn-we h1 {
		font-size: 1.6em;
		color: #ffffff;
		letter-spacing: 1px;
	}

	.wie-zijn-we p {
		width:90%;
		margin:auto;
		margin-bottom:3em;
	}

	.wie-zijn-we button {
		background-color: transparent;
		padding: 10px 25px;
		border: 1px solid #ffffff;
		border-radius: 0.2em;
		margin: 10px 10px 0px 10px;
		font-variant: small-caps;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 1.1em;
		color:#ffffff;
		outline: none;
	}

	.wie-zijn-we button:hover {
		background-color: #ffffff;
			color:#cc9131;
	}




	/* ---------------------------------------------------SECTION - WAAROM -----------------------------------------------------*/



	.waarom, .quote {
		background-color: #ebe6dc;
		box-sizing: border-box;
	}

	.waarom {
		background-image: url('../img/ananas-groot.svg');
		background-repeat: no-repeat;
		background-position: 70% 50px;
	}

	.waarom ul li {
		padding: 10px 0px;
		font-weight: bold;
		font-size: 1.2em;
		
	}

	.waarom ul li:before {  
		font-family: 'FontAwesome';
		content: '\f00c';
		font-size: 1.8em;
		color: #cc9132;
		float: left;
		padding-right: 15px;	
	}

	/* ---------------------------------------------------SECTION - QUOTE -----------------------------------------------------*/

	.quote {
		font-size: 1.5em;
		background-image: url('../img/ananas-klein.svg'), url('../img/ananas-klein.svg');;
		background-position: 0px 0px, 43px 54px;
		background-repeat: repeat, repeat;
	}

	.quote p, .quote aside {
		padding-left: 5rem;
	}

	.quote aside {
		font-weight: bold;
		color: #CC9132;
		font-size: 0.8em;
	}

	.quote p::before {
		content: '"';
		font-size: 3em;
		left: 0.1em;
		position: absolute;
		top: 0;
		line-height: 1em;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		color: #CC9132;
	}

	.round {
		position: relative;
		width: 8em;
		height: 8em;
		overflow: hidden;
		border-radius: 50%;
		float: right;
		display:inline-block;
		margin-left: 2em;
	}

	.round img {
		width: 100%;
		height: auto;
	}

	/* ---------------------------------------------------SECTION - CIJFERS -----------------------------------------------------*/

	.row.box-cijfers {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.row.box-cijfers > [class*='col-'] {
		display: block;
		flex-direction: column;
		width: 24%;
		margin: 0.5%;
		padding: 25px;
		background-color: #CC9132;;
		border-radius:3px;
		color: black;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		word-wrap: break-word;
	}

	.box-cijfers .cijfer {
		font-size: 2.5em;
		color: #ffffff;
		font-weight: bold;
		line-height: 2em;
	}

	/* ---------------------------------------------------SECTION - NIEUWS -----------------------------------------------------*/

label {
	padding-bottom: 0px;
}

.nieuws-overzicht img {
		width: 100%;
	}



	.nieuwsbrief form {
		width: 100%;
	}

	.nieuwsbrief {
		background-color: #cc9131;
		color: #fff;
	}


	.nieuwsbrief .form-control {
		margin-left: 5em;
		width: 20em;
	}

	.nieuwsbrief .form-control:focus {
		box-shadow: none;
	}
	
	.nieuwsbrief label {
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
		padding: 0;
		font-size: 1.2em;
	}

	.nieuwsbrief input, .form-control {
		background-color: rgba(255,255,255,0.5);
		width: 100%;
		margin: 0;
		padding: 10px;
		border: 0;
				border-radius: 0;
		color: #ffffff;
		height: 4rem;
		vertical-align: middle;
	}

	.nieuwsbrief input[type="submit"] {
		background-color: #ffffff;
		width:auto;
		margin: 0;
		padding: 0;
		border: 0;
		height: 4rem;
		color: #cc9132;
		font-weight: bold;
		padding: 10px;
		text-transform: uppercase;
		}

		.nieuwsbrief input[type="submit"]:hover {
			background-color: rgba(255,255,255,0.9);
		}

	.datum {
		padding-bottom: 10px;
		font-weight: bold;
		color: #cc9132;
	}

	.datum::before {
		padding-right:5px;
		content: "\f133";
		font-family: FontAwesome;

	}

	/* ---------------------------------------------------FOOTER -----------------------------------------------------*/
	footer {
		padding-bottom: 100px;
		line-height: 2em;
	}

	footer h1 {
		color: #000;
		font-size: 1.2em;
	}

	footer > div > div.row {		/* overrule bootstrap padding when nesting rows*/
		padding: 20px 0px;
	}

	footer .social [class*="fa fa-"] {
		background-color: #cc9132;
		border-radius: 30px;
		color: #fff;
		display: inline-block;
		height: 30px;
		line-height: 30px;
		margin: auto 3px;
		width: 30px;
		font-size: 15px;
		text-align: center;
		text-decoration: none;
		border: 1px solid #cc9132;
	}

	footer .social [class*="fa fa-"]:hover {
		background-color: rgba(255,255,255,0.5);
		color: #cc9132;
		display: inline-block;
	}


	footer .contact ul li {
		line-height: 2em;
		padding-bottom: 2em;
		padding-left: 2.1em;


	}
	footer .contact ul li:nth-child(1):before, footer .contact ul li:nth-child(2):before, footer .contact ul li:nth-child(3):before {  
		line-height: 1em;
		font-family: 'FontAwesome';
		color: #cc9132;
		float: left;
		margin-left: -2em;
		text-align: center;
		padding-top: 8px;

	}
footer .contact ul li:nth-child(1):before {
	content: '\f041';
}

	footer .contact ul li:nth-child(2):before {  

	content: '\f10b';

	}

	footer .contact ul li:nth-child(3):before {  
		content: '\f0e0';
	}


